<.container class="py-16">
  <.page_header title="Edit <%= schema.human_singular %>">
    <.button
      link_type="a"
      label="Back"
      to={~p"<%= schema.route_prefix %>"}
    />
  </.page_header>

  <._form action={~p"<%= schema.route_prefix %>/#{@<%= schema.singular %>}"} form={@form} />
</.container>
