<h1>{gettext("Change your email")}</h1>

<p>{gettext("Touch the button below to change your email.")}</p>

<EmailComponents.button_centered to={@url}>
  {gettext("Change email")}
</EmailComponents.button_centered>

<EmailComponents.small_text>
  {gettext("If you didn't request this change, please ignore this.")}
</EmailComponents.small_text>
