<h1>{gettext("Let's verify your account")}</h1>

<p>{gettext("Touch the button below to verify your account")}</p>

<EmailComponents.button_centered to={@url}>
  {gettext("Verify account")}
</EmailComponents.button_centered>

<EmailComponents.small_text>
  {gettext("If you didn't create an account with us, please ignore this.")}
</EmailComponents.small_text>
