<h1>{gettext("Reset password")}</h1>

<p>{gettext("Touch the button below to reset your password.")}</p>

<EmailComponents.button_centered to={@url}>
  {gettext("Reset password")}
</EmailComponents.button_centered>

<EmailComponents.small_text>
  {gettext("If you didn't request this change, please ignore this.")}
</EmailComponents.small_text>
